In [16]:
#pip install langchain_community langchain pymysql chromadb -q
#pip install google-ai-generativelanguage
#!pip install -U google-generativeai

#%pip install --upgrade --quiet  langchain-core langchain-google-vertexai
#%pip install --upgrade --quiet  langchain-google-genai pillow
#!pip install langchain_experimental
#!pip install -U langchain-chroma
#!pip install -U langsmith

Requirement already satisfied: google-generativeai in c:\users\manoj\anaconda3\lib\site-packages (0.7.2)
Requirement already satisfied: protobuf in c:\users\manoj\anaconda3\lib\site-packages (from google-generativeai) (4.25.4)
Requirement already satisfied: google-api-core in c:\users\manoj\anaconda3\lib\site-packages (from google-generativeai) (2.19.1)
Requirement already satisfied: tqdm in c:\users\manoj\anaconda3\lib\site-packages (from google-generativeai) (4.66.4)
Requirement already satisfied: google-api-python-client in c:\users\manoj\anaconda3\lib\site-packages (from google-generativeai) (2.138.0)
Requirement already satisfied: google-ai-generativelanguage==0.6.6 in c:\users\manoj\anaconda3\lib\site-packages (from google-generativeai) (0.6.6)
Requirement already satisfied: typing-extensions in c:\users\manoj\anaconda3\lib\site-packages (from google-generativeai) (4.12.2)
Requirement already satisfied: pydantic in c:\users\manoj\anaconda3\lib\site-packages (from google-generativeai) (2.8.2)
Requirement already satisfied: google-auth>=2.15.0 in c:\users\manoj\anaconda3\lib\site-packages (from google-generativeai) (2.32.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in c:\users\manoj\anaconda3\lib\site-packages (from google-ai-generativelanguage==0.6.6->google-generativeai) (1.24.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\manoj\anaconda3\lib\site-packages (from google-auth>=2.15.0->google-generativeai) (5.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\manoj\anaconda3\lib\site-packages (from google-auth>=2.15.0->google-generativeai) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\manoj\anaconda3\lib\site-packages (from google-auth>=2.15.0->google-generativeai) (0.2.8)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in c:\users\manoj\anaconda3\lib\site-packages (from google-api-core->google-generativeai) (2.28.1)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in c:\users\manoj\anaconda3\lib\site-packages (from google-api-core->google-generativeai) (1.63.2)
Requirement already satisfied: uritemplate<5,>=3.0.1 in c:\users\manoj\anaconda3\lib\site-packages (from google-api-python-client->google-generativeai) (4.1.1)
Requirement already satisfied: httplib2<1.dev0,>=0.19.0 in c:\users\manoj\anaconda3\lib\site-packages (from google-api-python-client->google-generativeai) (0.22.0)
Requirement already satisfied: google-auth-httplib2<1.0.0,>=0.2.0 in c:\users\manoj\anaconda3\lib\site-packages (from google-api-python-client->google-generativeai) (0.2.0)
Requirement already satisfied: pydantic-core==2.20.1 in c:\users\manoj\anaconda3\lib\site-packages (from pydantic->google-generativeai) (2.20.1)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\manoj\anaconda3\lib\site-packages (from pydantic->google-generativeai) (0.7.0)
Requirement already satisfied: colorama in c:\users\manoj\anaconda3\lib\site-packages (from tqdm->google-generativeai) (0.4.5)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in c:\users\manoj\anaconda3\lib\site-packages (from google-api-core->google-generativeai) (1.62.2)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in c:\users\manoj\anaconda3\lib\site-packages (from google-api-core->google-generativeai) (1.65.1)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in c:\users\manoj\anaconda3\lib\site-packages (from httplib2<1.dev0,>=0.19.0->google-api-python-client->google-generativeai) (3.0.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\manoj\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=2.15.0->google-generativeai) (0.4.8)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\manoj\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\manoj\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\manoj\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\manoj\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core->google-generativeai) (2022.9.14)

In [8]:
from langchain_community.utilities.sql_database import SQLDatabase

db_user = "manoj"
db_password = "571422"
db_host = "localhost"
db_name = "classicmodels"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")

print(db.dialect)
print(db.get_usable_table_names())
print(db.table_info)

mysql
['customers', 'employees', 'offices', 'orderdetails', 'orders', 'payments', 'productlines', 'products']

CREATE TABLE customers (
	`customerNumber` INTEGER NOT NULL,
	`customerName` VARCHAR(50) NOT NULL,
	`contactLastName` VARCHAR(50) NOT NULL,
	`contactFirstName` VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	city VARCHAR(50) NOT NULL,
	state VARCHAR(50),
	`postalCode` VARCHAR(15),
	country VARCHAR(50) NOT NULL,
	`salesRepEmployeeNumber` INTEGER,
	`creditLimit` DECIMAL(10, 2),
	PRIMARY KEY (`customerNumber`),
	CONSTRAINT customers_ibfk_1 FOREIGN KEY(`salesRepEmployeeNumber`) REFERENCES employees (`employeeNumber`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from customers table:
customerNumber	customerName	contactLastName	contactFirstName	phone	addressLine1	addressLine2	city	state	postalCode	country	salesRepEmployeeNumber	creditLimit
103	Atelier graphique	Schmitt	Carine 	40.32.2555	54, rue Royale	None	Nantes	None	44000	France	1370	21000.00
112	Signal Gift Stores	King	Jean	7025551838	8489 Strong St.	None	Las Vegas	NV	83030	USA	1166	71800.00
114	Australian Collectors, Co.	Ferguson	Peter	03 9520 4555	636 St Kilda Road	Level 3	Melbourne	Victoria	3004	Australia	1611	117300.00
*/


CREATE TABLE employees (
	`employeeNumber` INTEGER NOT NULL,
	`lastName` VARCHAR(50) NOT NULL,
	`firstName` VARCHAR(50) NOT NULL,
	extension VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	`officeCode` VARCHAR(10) NOT NULL,
	`reportsTo` INTEGER,
	`jobTitle` VARCHAR(50) NOT NULL,
	PRIMARY KEY (`employeeNumber`),
	CONSTRAINT employees_ibfk_1 FOREIGN KEY(`reportsTo`) REFERENCES employees (`employeeNumber`),
	CONSTRAINT employees_ibfk_2 FOREIGN KEY(`officeCode`) REFERENCES offices (`officeCode`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from employees table:
employeeNumber	lastName	firstName	extension	email	officeCode	reportsTo	jobTitle
1002	Murphy	Diane	x5800	dmurphy@classicmodelcars.com	1	None	President
1056	Patterson	Mary	x4611	mpatterso@classicmodelcars.com	1	1002	VP Sales
1076	Firrelli	Jeff	x9273	jfirrelli@classicmodelcars.com	1	1002	VP Marketing
*/


CREATE TABLE offices (
	`officeCode` VARCHAR(10) NOT NULL,
	city VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	state VARCHAR(50),
	country VARCHAR(50) NOT NULL,
	`postalCode` VARCHAR(15) NOT NULL,
	territory VARCHAR(10) NOT NULL,
	PRIMARY KEY (`officeCode`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from offices table:
officeCode	city	phone	addressLine1	addressLine2	state	country	postalCode	territory
1	San Francisco	+1 650 219 4782	100 Market Street	Suite 300	CA	USA	94080	NA
2	Boston	+1 215 837 0825	1550 Court Place	Suite 102	MA	USA	02107	NA
3	NYC	+1 212 555 3000	523 East 53rd Street	apt. 5A	NY	USA	10022	NA
*/


CREATE TABLE orderdetails (
	`orderNumber` INTEGER NOT NULL,
	`productCode` VARCHAR(15) NOT NULL,
	`quantityOrdered` INTEGER NOT NULL,
	`priceEach` DECIMAL(10, 2) NOT NULL,
	`orderLineNumber` SMALLINT NOT NULL,
	PRIMARY KEY (`orderNumber`, `productCode`),
	CONSTRAINT orderdetails_ibfk_1 FOREIGN KEY(`orderNumber`) REFERENCES orders (`orderNumber`),
	CONSTRAINT orderdetails_ibfk_2 FOREIGN KEY(`productCode`) REFERENCES products (`productCode`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/


CREATE TABLE orders (
	`orderNumber` INTEGER NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/


CREATE TABLE payments (
	`customerNumber` INTEGER NOT NULL,
	`checkNumber` VARCHAR(50) NOT NULL,
	`paymentDate` DATE NOT NULL,
	amount DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`customerNumber`, `checkNumber`),
	CONSTRAINT payments_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from payments table:
customerNumber	checkNumber	paymentDate	amount
103	HQ336336	2004-10-19	6066.78
103	JM555205	2003-06-05	14571.44
103	OM314933	2004-12-18	1676.14
*/


CREATE TABLE productlines (
	`productLine` VARCHAR(50) NOT NULL,
	`textDescription` VARCHAR(4000),
	`htmlDescription` MEDIUMTEXT,
	image MEDIUMBLOB,
	PRIMARY KEY (`productLine`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from productlines table:
productLine	textDescription	htmlDescription	image
Classic Cars	Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking	None	None
Motorcycles	Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends 	None	None
Planes	Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office o	None	None
*/


CREATE TABLE products (
	`productCode` VARCHAR(15) NOT NULL,
	`productName` VARCHAR(70) NOT NULL,
	`productLine` VARCHAR(50) NOT NULL,
	`productScale` VARCHAR(10) NOT NULL,
	`productVendor` VARCHAR(50) NOT NULL,
	`productDescription` TEXT NOT NULL,
	`quantityInStock` SMALLINT NOT NULL,
	`buyPrice` DECIMAL(10, 2) NOT NULL,
	`MSRP` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`productCode`),
	CONSTRAINT products_ibfk_1 FOREIGN KEY(`productLine`) REFERENCES productlines (`productLine`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from products table:
productCode	productName	productLine	productScale	productVendor	productDescription	quantityInStock	buyPrice	MSRP
S10_1678	1969 Harley Davidson Ultimate Chopper	Motorcycles	1:10	Min Lin Diecast	This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive 	7933	48.81	95.70
S10_1949	1952 Alpine Renault 1300	Classic Cars	1:10	Classic Metal Creations	Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening 	7305	98.58	214.30
S10_2016	1996 Moto Guzzi 1100i	Motorcycles	1:10	Highway 66 Mini Classics	Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine,	6625	68.99	118.94
*/

In [19]:
import os

os.environ["LANGSMITH_TRACING_V2"] = "true"
os.environ["LANGSMITH_API_KEY"] = "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"
os.environ["LANGSMITH_ENDPOINT"] = "https://api.smith.langchain.com"
os.environ["GOOGLE_API_KEY"] = "AIzaSyAHZMHwa61Rrqx7hOWpEFyDBDJGVEP-spo"

google_api_key = "AIzaSyAHZMHwa61Rrqx7hOWpEFyDBDJGVEP-spo"

In [20]:
from langchain_google_genai import GoogleGenerativeAI
llm = GoogleGenerativeAI(model="models/text-bison-001", google_api_key=google_api_key)

In [80]:
llm.invoke("Describe my pretty wife?")

'My wife is very pretty. She has long, dark hair, big brown eyes, and a beautiful smile. Her skin is fair, and her figure is slim and curvy. She is always well-dressed and put together. She is also very kind and caring, and she makes me very happy.'

In [22]:
from langchain.sql_database import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [23]:
db_agent = SQLDatabaseChain.from_llm(llm = llm,
                           db = db,
                           verbose = True)

In [24]:
db_agent.run("How many customers do we have?")

C:\Users\manoj\anaconda3\lib\site-packages\langchain_core\_api\deprecation.py:139: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 0.3.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
How many customers do we have?
SQLQuery:SELECT count(*) FROM customers
SQLResult: [(122,)]
Answer:122
> Finished chain.

'122'

In [ ]:
from langchain.chains import create_sql_query_chain

generate_query = create_sql_query_chain(llm, db)
query = generate_query.invoke({"question": "what is price of `1968 Ford Mustang`"})

print(query)

In [ ]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool
execute_query = QuerySQLDataBaseTool(db=db)
execute_query.invoke(query)

In [26]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

qns1 = db_chain.run("How many customers do we have?")

> Entering new SQLDatabaseChain chain...
How many customers do we have?
SQLQuery:SELECT count(*) FROM customers;
SQLResult: [(122,)]
Answer:122
> Finished chain.

In [27]:
qns1 = db_chain.run("SELECT * FROM customers WHERE country = 'France' AND creditLimit > 20000;")
qns1

> Entering new SQLDatabaseChain chain...
SELECT * FROM customers WHERE country = 'France' AND creditLimit > 20000;
SQLQuery:SELECT * FROM customers WHERE country = 'France' AND creditLimit > 20000
SQLResult: [(103, 'Atelier graphique', 'Schmitt', 'Carine ', '40.32.2555', '54, rue Royale', None, 'Nantes', None, '44000', 'France', 1370, Decimal('21000.00')), (119, 'La Rochelle Gifts', 'Labrune', 'Janine ', '40.67.8555', '67, rue des Cinquante Otages', None, 'Nantes', None, '44000', 'France', 1370, Decimal('118200.00')), (146, 'Saveley & Henriot, Co.', 'Saveley', 'Mary ', '78.32.5555', '2, rue du Commerce', None, 'Lyon', None, '69004', 'France', 1337, Decimal('123900.00')), (171, 'Daedalus Designs Imports', 'Rancé', 'Martine ', '20.16.1555', '184, chaussée de Tournai', None, 'Lille', None, '59000', 'France', 1370, Decimal('82900.00')), (172, "La Corne D'abondance, Co.", 'Bertrand', 'Marie', '(1) 42.34.2555', '265, boulevard Charonne', None, 'Paris', None, '75012', 'France', 1337, Decimal('84300.00')), (209, 'Mini Caravy', 'Citeaux', 'Frédérique ', '88.60.1555', '24, place Kléber', None, 'Strasbourg', None, '67000', 'France', 1370, Decimal('53800.00')), (242, 'Alpha Cognac', 'Roulet', 'Annette ', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 1370, Decimal('61100.00')), (250, 'Lyon Souveniers', 'Da Silva', 'Daniel', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 1337, Decimal('68100.00')), (256, 'Auto Associés & Cie.', 'Tonini', 'Daniel ', '30.59.8555', "67, avenue de l'Europe", None, 'Versailles', None, '78000', 'France', 1370, Decimal('77900.00')), (350, 'Marseille Mini Autos', 'Lebihan', 'Laurence ', '91.24.4555', '12, rue des Bouchers', None, 'Marseille', None, '13008', 'France', 1337, Decimal('65000.00')), (353, 'Reims Collectables', 'Henriot', 'Paul ', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 1337, Decimal('81100.00')), (406, 'Auto Canal+ Petit', 'Perrier', 'Dominique', '(1) 47.55.6555', '25, rue Lauriston', None, 'Paris', None, '75016', 'France', 1337, Decimal('95000.00'))]
Answer:customerNumber, customerName, contactLastName, contactFirstName, phone, addressLine1, addressLine2, city, state, postalCode, country, salesRepEmployeeNumber, creditLimit
103, Atelier graphique, Schmitt, Carine , 40.32.2555, 54, rue Royale, None, Nantes, None, 44000, France, 1370, 21000.00
119, La Rochelle Gifts, Labrune, Janine , 40.67.8555, 67, rue des Cinquante Otages, None, Nantes, None, 44000, France, 1370, 118200.00
146, Saveley & Henriot, Co., Saveley, Mary , 78.32.5555, 2, rue du Commerce, None, Lyon, None, 69004, France, 1337, 123900.00
171, Daedalus Designs Imports, Rancé, Martine , 20.16.1555, 184, chaussée de Tournai, None, Lille, None, 59000, France, 1370, 82900.00
172, La Corne D'abondance, Co., Bertrand, Marie, (1) 42.34.2555, 265, boulevard Charonne, None, Paris, None, 75012, France, 1337, 84300.00
> Finished chain.

"customerNumber, customerName, contactLastName, contactFirstName, phone, addressLine1, addressLine2, city, state, postalCode, country, salesRepEmployeeNumber, creditLimit\n103, Atelier graphique, Schmitt, Carine , 40.32.2555, 54, rue Royale, None, Nantes, None, 44000, France, 1370, 21000.00\n119, La Rochelle Gifts, Labrune, Janine , 40.67.8555, 67, rue des Cinquante Otages, None, Nantes, None, 44000, France, 1370, 118200.00\n146, Saveley & Henriot, Co., Saveley, Mary , 78.32.5555, 2, rue du Commerce, None, Lyon, None, 69004, France, 1337, 123900.00\n171, Daedalus Designs Imports, Rancé, Martine , 20.16.1555, 184, chaussée de Tournai, None, Lille, None, 59000, France, 1370, 82900.00\n172, La Corne D'abondance, Co., Bertrand, Marie, (1) 42.34.2555, 265, boulevard Charonne, None, Paris, None, 75012, France, 1337, 84300.00"

In [28]:
qns2 = db_chain.run("SELECT MAX(amount) FROM payments;")
qns2

> Entering new SQLDatabaseChain chain...
SELECT MAX(amount) FROM payments;
SQLQuery:SELECT MAX(amount) FROM payments
SQLResult: [(Decimal('120166.58'),)]
Answer:120166.58
> Finished chain.

'120166.58'

In [29]:
qns3 = db_chain.run("SELECT * FROM products WHERE productLine = 'Motorcycles';")
qns3

> Entering new SQLDatabaseChain chain...
SELECT * FROM products WHERE productLine = 'Motorcycles';
SQLQuery:SELECT * FROM products WHERE productLine = 'Motorcycles'
SQLResult: [('S10_1678', '1969 Harley Davidson Ultimate Chopper', 'Motorcycles', '1:10', 'Min Lin Diecast', 'This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive chain, wheels and steering. All parts are particularly delicate due to their precise scale and require special care and attention.', 7933, Decimal('48.81'), Decimal('95.70')), ('S10_2016', '1996 Moto Guzzi 1100i', 'Motorcycles', '1:10', 'Highway 66 Mini Classics', 'Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leather seats, luggage rack, dual exhaust pipes, small saddle bag located on handle bars, two-tone paint with chrome accents, superior die-cast detail ,...', 6625, Decimal('68.99'), Decimal('118.94')), ('S10_4698', '2003 Harley-Davidson Eagle Drag Bike', 'Motorcycles', '1:10', 'Red Start Diecast', 'Model features, official Harley Davidson logos and insignias, detachable rear wheelie bar, heavy diecast metal with resin parts, authentic multi-color tampo-printed graphics, separate engine drive belts, free-turning front fork, rotating tires and rear racing slick, certificate of authenticity,...', 5582, Decimal('91.02'), Decimal('193.66')), ('S12_2823', '2002 Suzuki XREO', 'Motorcycles', '1:12', 'Unimax Art Galleries', 'Official logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leather seats, luggage rack, dual exhaust pipes, small saddle bag located on handle bars, two-tone paint with chrome accents, superior die-cast detail , rotating...', 9997, Decimal('66.27'), Decimal('150.62')), ('S18_2625', '1936 Harley Davidson El Knucklehead', 'Motorcycles', '1:18', 'Welly Diecast Productions', 'Intricately detailed with chrome accents and trim, official die-struck logos and baked enamel finish.', 4357, Decimal('24.23'), Decimal('60.57')), ('S18_3782', '1957 Vespa GS150', 'Motorcycles', '1:18', 'Studio M Art Models', 'Features rotating wheels , working kick stand. Comes with stand.', 7689, Decimal('32.95'), Decimal('62.17')), ('S24_1578', '1997 BMW R 1100 S', 'Motorcycles', '1:24', 'Autoart Studio Design', 'Detailed scale replica with working suspension and constructed from over 70 parts', 7003, Decimal('60.86'), Decimal('112.70')), ('S24_2000', '1960 BSA Gold Star DBD34', 'Motorcycles', '1:24', 'Highway 66 Mini Classics', 'Detailed scale replica with working suspension and constructed from over 70 parts', 15, Decimal('37.32'), Decimal('76.17')), ('S24_2360', '1982 Ducati 900 Monster', 'Motorcycles', '1:24', 'Highway 66 Mini Classics', 'Features two-tone paint with chrome accents, superior die-cast detail , rotating wheels , working kick stand', 6840, Decimal('47.10'), Decimal('69.26')), ('S32_1374', '1997 BMW F650 ST', 'Motorcycles', '1:32', 'Exoto Designs', 'Features official die-struck logos and baked enamel finish. Comes with stand.', 178, Decimal('66.92'), Decimal('99.89')), ('S32_2206', '1982 Ducati 996 R', 'Motorcycles', '1:32', 'Gearbox Collectibles', 'Features rotating wheels , working kick stand. Comes with stand.', 9241, Decimal('24.14'), Decimal('40.23')), ('S32_4485', '1974 Ducati 350 Mk3 Desmo', 'Motorcycles', '1:32', 'Second Gear Diecast', 'This model features two-tone paint with chrome accents, superior die-cast detail , rotating wheels , working kick stand', 3341, Decimal('56.13'), Decimal('102.05')), ('S50_4713', '2002 Yamaha YZR M1', 'Motorcycles', '1:50', 'Autoart Studio Design', 'Features rotating wheels , working kick stand. Comes with stand.', 600, Decimal('34.17'), Decimal('81.36'))]
Answer:[('S10_1678', '1969 Harley Davidson Ultimate Chopper', 'Motorcycles', '1:10', 'Min Lin Diecast', 'This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive chain, wheels and steering. All parts are particularly delicate due to their precise scale and require special care and attention.', 7933, Decimal('48.81'), Decimal('95.70')), ('S10_2016', '1996 Moto Guzzi 1100i', 'Motorcycles', '1:10', 'Highway 66 Mini Classics', 'Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leather seats, luggage rack, dual exhaust pipes, small saddle bag located on handle bars, two-tone paint with chrome accents, superior die-cast detail ,...', 6625, Decimal('68.99'), Decimal('118.94')), ('S10_4698', '2003 Harley-Davidson Eagle Drag Bike', 'Motorcycles', '1:10', 'Red Start Diecast', 'Model features, official Harley Davidson logos and insignias, detachable rear wheelie bar, heavy diecast metal with resin parts, authentic multi-color tampo-printed graphics, separate engine drive belts, free-turning front fork, rotating tires and rear racing slick, certificate of authenticity,...', 5582, Decimal('91.02'), Decimal('193.66')), ('S12_2823', '2002 Suzuki XREO', 'Motorcycles', '1:12', 'Unimax Art Galleries', 'Official logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leather seats, luggage rack, dual exhaust pipes, small saddle bag located on handle bars, two-tone paint with chrome accents, superior die-cast detail , rotating...', 9997, Decimal('66.27'), Decimal('150.62')), ('S18_2625', '1936 Harley Davidson El Knucklehead', 'Motorcycles', '1:18', 'Welly Diecast Productions', 'Intricately detailed with chrome accents and trim, official die-struck logos and baked enamel finish.', 4357, Decimal('24.23'), Decimal('60.57')), ('S18_3782', '1957 Vespa GS150', 'Motorcycles', '1:18', 'Studio M Art Models', 'Features rotating wheels , working kick stand. Comes with stand.', 7689, Decimal('32.95'), Decimal('62.17')), ('S24_1578', '1997 BMW R 1100 S', 'Motorcycles', '1:24', 'Autoart Studio Design', 'Detailed scale replica with working suspension and constructed from over 70 parts', 7003, Decimal('60.86'), Decimal('112.70')), ('S24_2000', '1960 BSA Gold Star DBD34', 'Motorcycles', '1:24', 'Highway 66 Mini Classics', 'Detailed scale replica with working suspension and constructed from over 70 parts', 15, Decimal('37.32'), Decimal('76.17')), ('S24_2360', '1982 Ducati 900 Monster', 'Motorcycles', '1:24', 'Highway 66 Mini Classics', 'Features two-tone paint with chrome accents, superior die-cast detail , rotating wheels , working kick stand', 6840, Decimal('47.10'), Decimal('69.26')), ('S32_1374', '19
> Finished chain.

"[('S10_1678', '1969 Harley Davidson Ultimate Chopper', 'Motorcycles', '1:10', 'Min Lin Diecast', 'This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive chain, wheels and steering. All parts are particularly delicate due to their precise scale and require special care and attention.', 7933, Decimal('48.81'), Decimal('95.70')), ('S10_2016', '1996 Moto Guzzi 1100i', 'Motorcycles', '1:10', 'Highway 66 Mini Classics', 'Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leather seats, luggage rack, dual exhaust pipes, small saddle bag located on handle bars, two-tone paint with chrome accents, superior die-cast detail ,...', 6625, Decimal('68.99'), Decimal('118.94')), ('S10_4698', '2003 Harley-Davidson Eagle Drag Bike', 'Motorcycles', '1:10', 'Red Start Diecast', 'Model features, official Harley Davidson logos and insignias, detachable rear wheelie bar, heavy diecast metal with resin parts, authentic multi-color tampo-printed graphics, separate engine drive belts, free-turning front fork, rotating tires and rear racing slick, certificate of authenticity,...', 5582, Decimal('91.02'), Decimal('193.66')), ('S12_2823', '2002 Suzuki XREO', 'Motorcycles', '1:12', 'Unimax Art Galleries', 'Official logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leather seats, luggage rack, dual exhaust pipes, small saddle bag located on handle bars, two-tone paint with chrome accents, superior die-cast detail , rotating...', 9997, Decimal('66.27'), Decimal('150.62')), ('S18_2625', '1936 Harley Davidson El Knucklehead', 'Motorcycles', '1:18', 'Welly Diecast Productions', 'Intricately detailed with chrome accents and trim, official die-struck logos and baked enamel finish.', 4357, Decimal('24.23'), Decimal('60.57')), ('S18_3782', '1957 Vespa GS150', 'Motorcycles', '1:18', 'Studio M Art Models', 'Features rotating wheels , working kick stand. Comes with stand.', 7689, Decimal('32.95'), Decimal('62.17')), ('S24_1578', '1997 BMW R 1100 S', 'Motorcycles', '1:24', 'Autoart Studio Design', 'Detailed scale replica with working suspension and constructed from over 70 parts', 7003, Decimal('60.86'), Decimal('112.70')), ('S24_2000', '1960 BSA Gold Star DBD34', 'Motorcycles', '1:24', 'Highway 66 Mini Classics', 'Detailed scale replica with working suspension and constructed from over 70 parts', 15, Decimal('37.32'), Decimal('76.17')), ('S24_2360', '1982 Ducati 900 Monster', 'Motorcycles', '1:24', 'Highway 66 Mini Classics', 'Features two-tone paint with chrome accents, superior die-cast detail , rotating wheels , working kick stand', 6840, Decimal('47.10'), Decimal('69.26')), ('S32_1374', '19"

In [30]:
qns4 = db_chain.run("SELECT firstName, lastName FROM employees where reportsTo = 1002;")
qns4

> Entering new SQLDatabaseChain chain...
SELECT firstName, lastName FROM employees where reportsTo = 1002;
SQLQuery:SELECT firstName, lastName FROM employees WHERE reportsTo = 1002
SQLResult: [('Mary', 'Patterson'), ('Jeff', 'Firrelli')]
Answer:

Retrying langchain_google_genai.llms._completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised InternalServerError: 500 An internal error has occurred. Please retry or report in https://developers.generativeai.google/guide/troubleshooting.

Mary Patterson, Jeff Firrelli
> Finished chain.

'Mary Patterson, Jeff Firrelli'

In [31]:
qns5 = db_chain.run("SELECT productName, quantityInStock FROM products WHERE quantityInStock < 7000;")
qns5

> Entering new SQLDatabaseChain chain...
SELECT productName, quantityInStock FROM products WHERE quantityInStock < 7000;
SQLQuery:SELECT productName, quantityInStock FROM products WHERE quantityInStock < 7000
SQLResult: [('1996 Moto Guzzi 1100i', 6625), ('2003 Harley-Davidson Eagle Drag Bike', 5582), ('1972 Alfa Romeo GTA', 3252), ('1962 LanciaA Delta 16V', 6791), ('1968 Ford Mustang', 68), ('2001 Ferrari Enzo', 3619), ('1958 Setra Bus', 1579), ('1969 Corvair Monza', 6906), ('1969 Ford Falcon', 1049), ('1970 Plymouth Hemi Cuda', 5663), ('1957 Chevy Pickup', 6125), ('1940 Ford Pickup Truck', 2613), ('1993 Mazda RX-7', 3975), ('1980s Black Hawk Helicopter', 5330), ('1917 Grand Touring Sedan', 2724), ('1998 Chrysler Plymouth Prowler', 4724), ('1911 Ford Town Car', 540), ('1926 Ford Fire Engine', 2018), ('P-51-D Mustang', 992), ('1936 Harley Davidson El Knucklehead', 4357), ('1928 Mercedes-Benz SSK', 548), ('1913 Ford Model T Speedster', 4189), ('1934 Ford V8 Coupe', 5649), ('1999 Yamaha Speed Boat', 4259), ('18th Century Vintage Horse Carriage', 5992), ('1903 Ford Model A', 3913), ('Collectable Wooden Train', 6450), ('1969 Dodge Super Bee', 1917), ('1941 Chevrolet Special Deluxe Cabriolet', 2378), ('1970 Triumph Spitfire', 5545), ('1932 Alfa Romeo 8C2300 Spider Sport', 6553), ('1940s Ford truck', 3128), ('1939 Cadillac Limousine', 6645), ('1957 Corvette Convertible', 1249), ('1957 Ford Thunderbird', 3209), ('1970 Chevy Chevelle SS 454', 1005), ('1970 Dodge Coronet', 4074), ('1928 British Royal Navy Airplane', 3627), ('1960 BSA Gold Star DBD34', 15), ('18th century schooner', 1898), ('1938 Cadillac V-16 Presidential Limousine', 2847), ('1962 Volkswagen Microbus', 2327), ('1982 Ducati 900 Monster', 6840), ('1949 Jaguar XK 120', 2350), ('1958 Chevy Corvette Limited Edition', 2542), ('1900s Vintage Bi-Plane', 5942), ('1952 Citroen-15CV', 1452), ('1969 Chevrolet Camaro Z28', 4695), ('1937 Horch 930V Limousine', 2902), ('1940 Ford Delivery Sedan', 6621), ('1956 Porsche 356A Coupe', 6600), ('Corsair F4U ( Bird Cage)', 6812), ('1936 Mercedes Benz 500k Roadster', 2081), ('1992 Porsche Cayenne Turbo Silver', 6582), ('1936 Chrysler Airflow', 4710), ('1900s Vintage Tri-Plane', 2756), ('1980’s GM Manhattan Express', 5099), ('1997 BMW F650 ST', 178), ('1954 Greyhound Scenicruiser', 2874), ('1996 Peterbilt 379 Stake Bed with Outrigger', 814), ('1928 Ford Phaeton Deluxe', 136), ('1974 Ducati 350 Mk3 Desmo', 3341), ('Diamond T620 Semi-Skirted Tanker', 1016), ('1962 City of Detroit Streetcar', 1645), ('2002 Yamaha YZR M1', 600), ('The Schooner Bluenose', 1897), ('American Airlines: B767-300', 5841), ('The Mayflower', 737), ('HMS Bounty', 3501), ('1982 Camaro Z28', 6934), ('F/A 18 Hornet 1/72', 551), ('The Titanic', 1956), ('The Queen Mary', 5088), ('Boeing X-32A JSF', 4857), ('Pont Yacht', 414)]
Answer:1996 Moto Guzzi 1100i, 6625
> Finished chain.

'1996 Moto Guzzi 1100i, 6625'

In [32]:
qns6 = db_chain.run("SELECT buyPrice, MSRP FROM products WHERE productName = '1968 Ford Mustang' LIMIT 1;")
qns6

> Entering new SQLDatabaseChain chain...
SELECT buyPrice, MSRP FROM products WHERE productName = '1968 Ford Mustang' LIMIT 1;
SQLQuery:SELECT buyPrice, MSRP FROM products WHERE productName = '1968 Ford Mustang' LIMIT 1
SQLResult: [(Decimal('95.34'), Decimal('194.57'))]
Answer:

Retrying langchain_google_genai.llms._completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised InternalServerError: 500 An internal error has occurred. Please retry or report in https://developers.generativeai.google/guide/troubleshooting.
Retrying langchain_google_genai.llms._completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised InternalServerError: 500 An internal error has occurred. Please retry or report in https://developers.generativeai.google/guide/troubleshooting.
Retrying langchain_google_genai.llms._completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised InternalServerError: 500 An internal error has occurred. Please retry or report in https://developers.generativeai.google/guide/troubleshooting.
Retrying langchain_google_genai.llms._completion_with_retry.<locals>._completion_with_retry in 8.0 seconds as it raised InternalServerError: 500 An internal error has occurred. Please retry or report in https://developers.generativeai.google/guide/troubleshooting.
Retrying langchain_google_genai.llms._completion_with_retry.<locals>._completion_with_retry in 10.0 seconds as it raised InternalServerError: 500 An internal error has occurred. Please retry or report in https://developers.generativeai.google/guide/troubleshooting.

(95.34, 194.57)
> Finished chain.

'(95.34, 194.57)'

In [33]:
few_shots = [
    {
        'Question': "List all customers in France with a credit limit over 20,000.",
        'SQLQuery': "SELECT * FROM customers WHERE country = 'France' AND creditLimit > 20000;",
        'SQLResult': "Result of the SQL query",
        'Answer' : """customerNumber, customerName, contactLastName, contactFirstName, phone, addressLine1, addressLine2, city, state, postalCode, country, salesRepEmployeeNumber, creditLimit\n103, Atelier graphique, Schmitt, Carine , 40.32.2555, 54, rue Royale, None, Nantes, None, 44000, France, 1370, 21000.00\n119, La Rochelle Gifts, Labrune, Janine , 40.67.8555, 67, rue des Cinquante Otages, None, Nantes, None, 44000, France, 1370, 118200.00\n146, Saveley & Henriot, Co., Saveley, Mary , 78.32.5555, 2, rue du Commerce, None, Lyon, None, 69004, France, 1337, 123900.00\n171, Daedalus Designs Imports, Rancé, Martine , 20.16.1555, 184, chaussée de Tournai, None, Lille, None, 59000, France, 1370, 82900.00\n172, La Corne D'abondance, Co., Bertrand, Marie, (1) 42.34.2555, 265, boulevard Charonne, None, Paris, None, 75012, France, 1337, 84300.00"""
    },
    {
        'Question': "Get the highest payment amount made by any customer.",
        'SQLQuery': "SELECT MAX(amount) FROM payments;",
        'SQLResult': "Result of the SQL query",
        'Answer' : "120166.58"
    },
    {
        'Question': "Retrieve the names of employees who report to employee number 1002.",
        'SQLQuery': "SELECT firstName, lastName FROM employees where reportsTo = 1002;",
        'SQLResult': "Result of the SQL query",
        'Answer' : "Mary Patterson, Jeff Firrelli"
    },
    {
        'Question': "List all products with a stock quantity less than 7000",
        'SQLQuery': "SELECT productName, quantityInStock FROM products WHERE quantityInStock < 7000;",
        'SQLResult': "Result of the SQL query",
        'Answer' : "1996 Moto Guzzi 1100i, 6625"
    },
    {
        'Question': "What is price of '1968 Ford Mustang'",
        'SQLQuery': "SELECT buyPrice, MSRP FROM products WHERE productName = '1968 Ford Mustang' LIMIT 1;",
        'SQLResult': "Result of the SQL query",
        'Answer' : "95.34, 194.57"
    }
]

### Creating Semantic Similarity Based example selector

- create embedding on the few_shots
- Store the embeddings in Chroma DB
- Retrieve the the top most Semantically close example from the vector store

In [38]:
from langchain_chroma import Chroma
from langchain_core.example_selectors import SemanticSimilarityExampleSelector
from langchain_google_genai import GoogleGenerativeAIEmbeddings


embeddings = GoogleGenerativeAIEmbeddings(model="models/embedding-001", google_api_key = google_api_key)

to_vectorize = [" ".join(example.values()) for example in few_shots]

In [39]:
to_vectorize

["List all customers in France with a credit limit over 20,000. SELECT * FROM customers WHERE country = 'France' AND creditLimit > 20000; Result of the SQL query customerNumber, customerName, contactLastName, contactFirstName, phone, addressLine1, addressLine2, city, state, postalCode, country, salesRepEmployeeNumber, creditLimit\n103, Atelier graphique, Schmitt, Carine , 40.32.2555, 54, rue Royale, None, Nantes, None, 44000, France, 1370, 21000.00\n119, La Rochelle Gifts, Labrune, Janine , 40.67.8555, 67, rue des Cinquante Otages, None, Nantes, None, 44000, France, 1370, 118200.00\n146, Saveley & Henriot, Co., Saveley, Mary , 78.32.5555, 2, rue du Commerce, None, Lyon, None, 69004, France, 1337, 123900.00\n171, Daedalus Designs Imports, Rancé, Martine , 20.16.1555, 184, chaussée de Tournai, None, Lille, None, 59000, France, 1370, 82900.00\n172, La Corne D'abondance, Co., Bertrand, Marie, (1) 42.34.2555, 265, boulevard Charonne, None, Paris, None, 75012, France, 1337, 84300.00",
 'Get the highest payment amount made by any customer. SELECT MAX(amount) FROM payments; Result of the SQL query 120166.58',
 'Retrieve the names of employees who report to employee number 1002. SELECT firstName, lastName FROM employees where reportsTo = 1002; Result of the SQL query Mary Patterson, Jeff Firrelli',
 'List all products with a stock quantity less than 7000 SELECT productName, quantityInStock FROM products WHERE quantityInStock < 7000; Result of the SQL query 1996 Moto Guzzi 1100i, 6625',
 "What is price of '1968 Ford Mustang' SELECT buyPrice, MSRP FROM products WHERE productName = '1968 Ford Mustang' LIMIT 1; Result of the SQL query 95.34, 194.57"]

In [40]:
vectorstore = Chroma.from_texts(to_vectorize, embeddings, metadatas=few_shots)

In [41]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,
)

example_selector.select_examples({"Question": "Whats the highest stock price?"})

[{'Answer': '120166.58',
  'Question': 'Get the highest payment amount made by any customer.',
  'SQLQuery': 'SELECT MAX(amount) FROM payments;',
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '120166.58',
  'Question': 'Get the highest payment amount made by any customer.',
  'SQLQuery': 'SELECT MAX(amount) FROM payments;',
  'SQLResult': 'Result of the SQL query'}]

In [42]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

print(PROMPT_SUFFIX)
print(_mysql_prompt)

Only use the following tables:
{table_info}

Question: {input}
You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

### Setting up PromptTemplete using input variables

In [43]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [57]:
table_info="customers"

few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=_mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [61]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt )

In [58]:
few_shot_prompt

FewShotPromptTemplate(input_variables=['input', 'table_info', 'top_k'], example_selector=SemanticSimilarityExampleSelector(vectorstore=<langchain_chroma.vectorstores.Chroma object at 0x000002306EB73D30>, k=2, example_keys=None, input_keys=None, vectorstore_kwargs=None), example_prompt=PromptTemplate(input_variables=['Answer', 'Question', 'SQLQuery', 'SQLResult'], template='\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}'), suffix='Only use the following tables:\n{table_info}\n\nQuestion: {input}', prefix='You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use CURDATE() function to get the current date, if the question involves "today".\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\n')

In [52]:
new_chain(dict(query="How many customers do we have?", table_info="customers"))

> Entering new SQLDatabaseChain chain...
How many customers do we have?
SQLQuery:SELECT COUNT(*) FROM customers;
SQLResult: [(122,)]
Answer:122
> Finished chain.

{'query': 'How many customers do we have?',
 'table_info': 'customers',
 'result': '122'}

In [47]:
new_chain("What is price of '1968 Ford Mustang")

C:\Users\manoj\anaconda3\lib\site-packages\langchain_core\_api\deprecation.py:139: LangChainDeprecationWarning: The method `Chain.__call__` was deprecated in langchain 0.1.0 and will be removed in 0.3.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
What is price of '1968 Ford Mustang
SQLQuery:SELECT buyPrice, MSRP FROM products WHERE productName = '1968 Ford Mustang' LIMIT 1;
SQLResult: [(Decimal('95.34'), Decimal('194.57'))]
Answer:95.34, 194.57
> Finished chain.

{'query': "What is price of '1968 Ford Mustang", 'result': '95.34, 194.57'}

In [65]:
from langchain.chains import create_sql_query_chain
generate_query = create_sql_query_chain(llm, db, prompt=few_shot_prompt)

In [67]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool
execute_query = QuerySQLDataBaseTool(db=db)

In [77]:
!pip install prompts

Requirement already satisfied: prompts in c:\users\manoj\anaconda3\lib\site-packages (0.0.1)

In [79]:
from prompts import final_prompt, answer_prompt
#rephrase_answer = answer_prompt | llm | StrOutputParser()

ModuleNotFoundError: No module named 'prompts'